<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Rate My Roommate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href= "{% static 'css/style.css' %}">
    <link rel = "stylesheet" type = "text/css" href=" {% static 'flaticon/flaticon.css' %}">
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0" />
</head>
<body>
<div class="banner-wrapper">
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'roomaterating:index' %}">Rate My Roommate</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link litem flaticon-home {% block home %}{% endblock %}" href="{% url 'roomaterating:index' %}">  Home</a>
      </li>
    <li class="nav-item">
        <a class="nav-link litem flaticon-university {% block Colleges %}{% endblock %}" href="{% url 'roomaterating:colleges' %}">  Colleges</a>
      </li>
     <li class="nav-item">
        <a class="nav-link litem flaticon-team {% block Roommates %}{% endblock %}" href="{% url 'roomaterating:roomates' %}">  Roommates</a>
      </li>
      <li class="nav-item">
     <form class="form-inline my-2 my-lg-0" action = "{% url 'roomaterating:roommate_search_list_view' %}" method="get" accept-charset="utf-8" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search Roommates" aria-label="Search" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li>
            <a class="nav-link litem flaticon-signs {% block addaroommate %}{% endblock %}" href="{% url 'roomaterating:add-roommate' %}">  Add a Roommate</a>
        </li>

    </ul>
    </div>
</nav>
    <div class="banner">
    {% block bannerbody %}{% endblock %}
    </div>
</div>
{% block body %}{% endblock %}
</body>
</html>