{% load recaptcha2 %}
{% block head %}{% recaptcha_init %}{% endblock %}
{% for field in form %}
    <div class="form-group">    

        <label class="control-label col-sm-2"> {{field.label_tag}} </label>
        <div class="col-sm-10" class="form-control">{{field}}</div>
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
</div>

{% endif %}
{% endfor %}
{% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% recaptcha_explicit_init %}
