{% extends 'roomaterating/base.html' %}
{% block home %} active {% endblock %}
{% block bannerbody %}
        <section class="banner-info">
            <h3>Rate My Roommate</h3>
        </section>
        <section class = "banner-buttons">
            <a href="{% url 'roomaterating:colleges' %}"><button type="button" class="btn btn-secondary btn-outline-light btn-lg">View all Colleges</button></a>
            <a href="{% url 'roomaterating:roomates' %}"><button type="button" id = "allroommates" class="btn btn-secondary btn-outline-light btn-lg">View all Roommates</button></a>
            <a href="{% url 'roomaterating:add-roommate' %}"><button type="button" id= "addroommates" class="btn btn-secondary btn-outline-light btn-lg">Add a Roommate</button></a>
        </section>
{% endblock %}
{% block body %}
{% load staticfiles %}

<h4 id="related-articles">Articles You Might Like to Read</h4>

<div class = "related-articles">

    <a href="http://www.hgtv.com/design/decorating/design-101/20-chic-and-functional-dorm-room-decorating-ideas-pictures"><img src="{% static 'images/dorm-ideas.jpeg'%}"\></a>
    <a href="http://thecampussocialite.com/what-to-expect-from-dorm-living-as-a-college-student/"><img src="{% static 'images/moredorm.jpg' %}"></a>
    <a href="https://blog.livelovely.com/2014/10/17/six-tips-discussing-monthly-expenses-roommates/"><img src="{% static 'images/dorm-pin.png' %}"></a>
    <a href="https://www.snagajob.com/resources/four-tips-to-get-along-with-your-college-roommate/"><img src="{% static 'images/surivival-tips.jpg' %}"></a>
    </div>
{% endblock %}