{% extends 'roomaterating/base.html' %}
{% block Roommates %} active {% endblock %}
{% block body %}
<p>{{roomate}} </p>
<p>College: <a href="{{roomate.college.website_link}}">{{roomate.college}}</a></p>
<p>Overall Rating:<span style="background-color:green; color:white;">{{OverallAvg}}</span></p>
<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="text-danger small"> {{ field.errors }}</span>
        </div>
        <label class="control-label col-sm-2"> {{field.label_tag}} </label>
        <div class="col-sm-10">{{field}}</div>

</div>
{% endfor %}
    <button type="submit" class="btn btn-success"> Submit </button>
</form>
<ul class="list-group">
{% if comments %}
{% for comment in comments %}
<li class="list-group-item">
    <p>Username: {{comment}} </p>
    <p>Overall Rating: {{comment.Overall_Rating}}</p>
    <P>Description: {{comment.Description}}</P>
</li>
{% endfor %}

{% else %}
<li class="list-group-item">
    <p>Sorry, No Comments Available</p>
</li>
{% endif %}
</ul>
{% endblock %}